
.p-tool {
    padding-left: 1em;    
    padding-right: 1em;
    font-family: HelveticaNeueCyr;    
    font-size: .95rem;
    font-weight: 500;
    color: #7f8da8;
    height: 4em;
    background-color:  white;

    /* padding-bottom: 1em; */
    border-bottom: 1px solid silver;
}

.p-right {
    /* max-width: 25em; */
    padding-left: 1em;    
    padding-right: 1em;
    font-family: HelveticaNeueCyr;    
    margin-right: 0.75rem;
    font-size: .95rem;
    font-weight: 500;
    color: #7f8da8;

    height: 4em;
    padding-bottom: 1em;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
}

.p-content {

    height: calc(100vh - 4em);
    width: 100vw;
    overflow-y:scroll;
    background: url('pattern.png'), linear-gradient(156.39deg, #f5f5f5 7.75%, #ffffff 100.99%); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  
}

.p-text {

    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: normal;
    font-weight: 600;

}

.p-div:hover {
    background-color: #ebecec;
}

.p-page {

    max-width: 50em;
}

.f-scroll {

    overflow-y: scroll;
    overflow-x: scroll;

    height: 56vh;
}